.header{
    overflow: hidden;
    height: 50px;
    padding-top: 10px;
    background-color: rgb(150, 145, 137);
}
.header p{
    float: left;
    color: black;
    text-align: center;
    padding:10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 4px;
    border-radius: 4px;
}
.header p.logo{
    font-size: 25px;
    font-weight: bold;
    color: rgb(143, 87, 3);
}
.header p:hover{
    background-color: aliceblue;
    color: rgb(17, 235, 243);
}
.header p.active{
    background-color:  rgb(235, 139, 14);
    color: aliceblue;
}
.header-right{
    float:right;
}
@media screen and (max-width:500px) {
    .header p{
        float:none;
        display: block;
        text-align: left;
    }
    .header-right{
        float: none;
    }
}